<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/18355606/pexels-photo-18355606/free-photo-of-e-commerce-banner-photo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Desing </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,256 </small>
                    <small class="bg-light text-warning text-center ml-2"> LAST UPDATED - SEP 20, 2021 </small>

                    <h1 class="mt-3 mb-3"> HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium dolorem ipsum quis nihil, quod beatae aliquid placeat et praesentium odio, facilis deserunt similique, quisquam in neque aspernatur laborum? Labore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum illo tempore nesciunt ad optio nobis recusandae voluptatum id, deserunt maxime. Quidem officia deleniti excepturi natus nisi nobis iure ullam vitae.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, ad. Perferendis sapiente cum maxime odio magnam expedita ex, quia illum culpa nisi atque dignissimos. At iure eveniet eaque architecto quia.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus cum corrupti sit, ullam nihil eligendi quis delectus, modi laborum similique autem eaque. Earum temporibus, illo ullam obcaecati id saepe accusamus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum eligendi sunt doloremque odio eos debitis, natus saepe recusandae aliquid tempora, vitae corporis numquam laudantium modi. Vero obcaecati dolorem molestias officiis!
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>


    </div>
</div>