<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORMS</h3>
            <p class="m-auto subs-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dicta! Voluptates laborum qui id. Dolor aspernatur eligendi, minus magni temporibus numquam dignissimos voluptates nesciunt aut tenetur nisi. Incidunt, quo accusantium.</p>
                <form action="" class="form-inline mb-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Yout Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-info btn-block btn-theme">SUBSCRIPE</button>
                </div>

                </form>


        </div>
    </div>
</div>
